/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Paiko implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * paiko.css
 *
 * Paiko stylesheet
 *
 */

#paiko-board {
    position: relative;
    width: 980px;
    height: 980px;
    background-image: url("img/board.jpg");
    background-size: cover;
}

.paiko-board-square {
    position: absolute;
    width: 70px;
    height: 70px;
}

.paiko-board-square:hover {
    background: red;
}

#paiko-tiles-reserve {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.paiko-tile {
    --tile-width: 70px;
    --tile-height: 70px;
    --sprite-x: 0;
    --sprite-y: 0;

    width: var(--tile-width);
    height: var(--tile-height);
    background-image: url("img/tiles.png");
    background-size:
        calc(var(--tile-width) * 4)
        calc(var(--tile-height) * 2);
    background-position:
        calc(var(--tile-width) * var(--sprite-x) * -1)
        calc(var(--tile-height) * var(--sprite-y) * -1);
}

.paiko-tile.paiko-selected {
    box-shadow: 0 0 10px red;
}

.paiko-tile[data-type="1"], .paiko-tile[data-type="5"] {
    --sprite-x: 1;
}

.paiko-tile[data-type="2"], .paiko-tile[data-type="6"] {
    --sprite-x: 2;
}

.paiko-tile[data-type="3"], .paiko-tile[data-type="7"] {
    --sprite-x: 3;
}

.paiko-tile[data-type="4"], .paiko-tile[data-type="5"],
.paiko-tile[data-type="6"], .paiko-tile[data-type="7"] {
    --sprite-y: 1;
}