@charset "UTF-8";

/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Paiko implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/* latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v38/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mnPyxVig.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v38/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5ardu3mnPyxVihg0.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

#pk-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.pk-hand, .pk-reserve {
    --row: 0;
    --column: 0;

    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;

    grid-row: var(--row);
    grid-column: var(--column);
    transition:
        opacity 180ms ease-in,
        filter 180ms ease-in;
}

.pk-reserve {
    grid-column: calc(18 - var(--column));
}

.pk-reserve:not(:has(.pk-piece.pk-selectable)),
.gamestate_clientDraft .pk-hand:not(:has(.pk-piece.pk-selectable)) {
    opacity: 0.7;
    filter: grayscale(0.4);
}

.gamestate_clientDraft .pk-hand {
    transition: none;
}

.pk-hand:not(.invert)[data-player="1"],
.pk-hand.invert[data-player="0"] {
    grid-row: calc(18 - var(--row));
    grid-column: calc(18 - var(--column));
}

.pk-reserve:not(.invert)[data-player="1"],
.pk-reserve.invert[data-player="0"] {
    grid-row: calc(18 - var(--row));
    grid-column: var(--column);
}

.pk-hand[data-type="0"], .pk-reserve[data-type="0"] { --row: 14; --column: 2; }
.pk-hand[data-type="1"], .pk-reserve[data-type="1"] { --row: 14; --column: 3; }
.pk-hand[data-type="2"], .pk-reserve[data-type="2"] { --row: 15; --column: 2; }
.pk-hand[data-type="3"], .pk-reserve[data-type="3"] { --row: 15; --column: 3; }
.pk-hand[data-type="4"], .pk-reserve[data-type="4"] { --row: 15; --column: 4; }
.pk-hand[data-type="5"], .pk-reserve[data-type="5"] { --row: 16; --column: 2; }
.pk-hand[data-type="6"], .pk-reserve[data-type="6"] { --row: 16; --column: 3; }
.pk-hand[data-type="7"], .pk-reserve[data-type="7"] { --row: 16; --column: 4; }

.pk-hand .pk-piece, .pk-reserve .pk-piece {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    pointer-events: none;
}

.pk-hand .pk-piece:last-child, .pk-reserve .pk-piece:last-child {
    pointer-events: all;
}

.pk-hand .pk-piece:not(:first-child), .pk-reserve .pk-piece:not(:first-child) {
    margin-bottom: -85%;
}

#pk-board {
    --board-size: 740px;
    position: relative;
    flex-shrink: 0;
    width: var(--board-size);
    height: var(--board-size);
    margin-bottom: 2%;
}

#pk-board-shadow-container {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 4px 4px black);
}

#pk-board-shadow {
    width: 100%;
    height: 100%;
    background-color: #383838;
    mask-image: url("img/boardMask.svg");
    mask-size: cover;
    translate: 0 0.5%;
    margin-bottom: -3%;
}

#pk-container[data-player="1"] #pk-board-shadow {
    transform-origin: center;
    transform: rotate(180deg);
}

#pk-board-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("img/board.jpg");
    background-size: cover;
    mask-image: url("img/boardMask.svg");
    mask-size: cover;
}

#pk-container[data-player="1"] #pk-board-background {
    transform-origin: center;
    transform: rotate(180deg);
}

#pk-board-spaces {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.18fr repeat(7, 1fr) 0.3fr repeat(7, 1fr) 0.14fr;
    grid-template-rows: 0.18fr repeat(7, 1fr) 0.27fr repeat(7, 1fr) 0.17fr;
}

.pk-board-space, .pk-board-hole {
    --column: 0;
    --row: 0;

    width: 100%;
    height: 100%;

    grid-column: var(--column);
    grid-row: var(--row);

    transition: background-color 180ms ease-in;
}

.pk-board-space.pk-selectable,
.pk-board-hole.pk-selectable {
    background-color: rgba(0, 255, 0, 0.52);
}

.pk-board-space.pk-selectable:hover, .pk-board-hole.pk-selectable:hover {
    background-color: rgba(224, 224, 65, 0.8);
    transition: background-color 0ms;
}

.pk-board-space.highlight, .pk-board-hole.highlight {
    animation-name: pk-highlight;
    animation-duration: 10000ms;
    animation-timing-function: ease-out;
}

@keyframes pk-highlight {
    from {
        background-color: transparent;
    }
    to {
        background-color: red;
    }
}

.pk-piece {
    --angle: 0;
    --sprite-x: 0;
    --sprite-y: 0;

    position: relative;
    width: 100%;
    height: 100%;

    transition:
        opacity 200ms ease-out,
        margin-top 200ms cubic-bezier(0.33, 0.0, 0.66, 0.33),
        rotate 250ms ease-in;
}

.roundedbox .pk-piece {
    --piece-size: 40px;
    display: inline-block;
    width: var(--piece-size);
    height: var(--piece-size);
    margin: 4px;
    vertical-align: middle;
    pointer-events: none;
}

.pk-piece.last-moved {
    outline: 2px solid #df8819;
}

.pk-piece.pk-selected {
    outline: 2px solid yellow;
}

.pk-piece.pk-selected, .pk-piece.pk-selectable:hover {
    filter: contrast(2);
}

.pk-piece.last-moved[data-moves="3"] {
    opacity: 0.7;
    pointer-events: none !important;
}

.pk-piece * {
    position: absolute;
    inset: 0;
    margin: auto;
    pointer-events: none;
}

.pk-piece-shadow {
    width: 100%;
    height: 100%;
    margin-top: -2%;
    border-radius: 100%;
    box-shadow: 0 4px 4px black;
}

.pk-piece-base {
    width: 100%;
    height: 100%;
    background-image: url("img/disc.svg");
    background-size: 200% 100%;
}

.pk-piece[data-player="1"] .pk-piece-base {
    background-position: 100% 0;
}

.pk-piece-image {
    width: 94%;
    height: 92%;
    margin-top: 0;
    clip-path: circle(45% at center ) ;
    background-image: url("img/tiles.png");
    background-size: 400% 200%;
    background-position:
        calc(var(--sprite-x) * 100% / 3)
        calc(var(--sprite-y) * 100%);
    transform-origin: center;
    transform: rotate(calc(var(--angle) * 90deg));
    transition: transform 250ms ease-out;
}

#pk-container[data-player="1"] .pk-piece .pk-piece-image {
    transform: rotate(calc(var(--angle) * 90deg + 180deg));
}

.pk-piece.moving-offset {
    --path: "";
    --time: 300ms;
    --hover-height: -10px;

    position: relative;
    animation:
        pk-move-offset calc(var(--time) * 2) ease-in-out,
        pk-spin-offset var(--time) ease-out,
        pk-spin-offset var(--time) var(--time) reverse ease-in;
    offset-path: path(var(--path));
    offset-rotate: 0deg;
    offset-distance: 0;
    margin-top: var(--hover-height);
    z-index: 9;
}

@keyframes pk-move-offset {
    from {
        offset-distance: 100%;
        margin-top: 0;
    }
    to {
        offset-distance: 0;
        margin-top: var(--hover-height);
    }
}

@keyframes pk-spin-offset {
    from { offset-rotate: 0deg; }
    to { offset-rotate: 15deg; }
}

.pk-piece.moving {
    --dx: 0;
    --dy: 0;
    --scale: 1;
    --time: 300ms;
    --hover-height: -10px;

    position: relative;
    animation: pk-move calc(var(--time) * 2) ease-out;
    margin-top: var(--hover-height);
    z-index: 9;
}

@keyframes pk-move {
    from {
        margin-top: 0;
        transform:
            translate(calc(var(--dx) * 1px),  calc(var(--dy) * 1px))
            scale(var(--scale));
    }
    to {
        margin-top: var(--hover-height);
    }
}

.pk-piece.removing {
    --time: 500ms;

    position: relative;
    animation: pk-remove var(--time) ease-in;
    z-index: 9;
}

@keyframes pk-remove {
    to {
        margin-top: -30px;
        opacity: 0;
    }
}

.pk-title {
    flex-basis: 100%;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    background-color: #458284;
    color: #e5eef0;
    border-radius: 16px;
    text-shadow: 0 3px 1px black;
    margin: 8px;
    padding-bottom: 2px;
    box-shadow: 0 1px 1px black;
}

.pk-piece-help {
    display: flex;
    flex-flow: row wrap;
    background-color: #375a6f;
    padding-bottom: 10px;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.pk-help-grid {
    --grid-size: 230px;
    --fill: #6d7179;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: var(--grid-size);
    height: var(--grid-size);
    border: 4px solid #151418bf;
    box-shadow: 0 2px 2px black;
    margin-right: 10px;
    margin-left: 10px;
}

.pk-help-grid-space {
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle at center, #7a7f88 0, #9d9ca3 100%);
    outline: 3px solid #28323abf;
}

.pk-help-grid-space .pk-piece {
    margin-left: -2px;
    margin-top: -3px;
}

.pk-help-grid-space.threat {
    --hatch: #e7e60e;
    background-image: repeating-linear-gradient(
        45deg,
        var(--fill),
        var(--fill) 5px,
        var(--hatch) 5px,
        var(--hatch) 10px);
}

.pk-help-grid:has(.pk-piece[data-type="5"]) .pk-help-grid-space.threat {
    --hatch: #ff8316;
}

.pk-help-grid-space.cover {
    background-image:
        radial-gradient(circle at center, #269522 0, #046b04 100%);
}

.pk-help-lines {
    flex-basis: 0;
    flex-grow: 1;
}

.pk-help-line {
    font-size: 24px;
    margin-right: 10px;
    color: #e5eef0;
}

.pk-help-line::before {
    content: "🟡";
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 6px;
}

.pk-help-line:not(:first-child) {
    margin-top: 10px;
}