/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Paiko implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

#pk-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.pk-hand, .pk-reserve {
    --row: 0;
    --column: 0;

    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;

    grid-row: var(--row);
    grid-column: var(--column);
}

.pk-reserve {
    grid-column: calc(16 - var(--column));
    transition:
        opacity 180ms ease-in,
        filter 180ms ease-in;
}

.pk-reserve:not(:has(.pk-piece.pk-selectable)) {
    opacity: 0.7;
    filter: grayscale(0.4);
}

.pk-hand:not(.invert)[data-player="1"],
.pk-hand.invert[data-player="0"] {
    grid-row: calc(16 - var(--row));
    grid-column: calc(16 - var(--column));
}

.pk-reserve:not(.invert)[data-player="1"],
.pk-reserve.invert[data-player="0"] {
    grid-row: calc(16 - var(--row));
    grid-column: var(--column);
}

.pk-hand[data-type="0"], .pk-reserve[data-type="0"] { --row: 13; --column: 1; }
.pk-hand[data-type="1"], .pk-reserve[data-type="1"] { --row: 13; --column: 2; }
.pk-hand[data-type="2"], .pk-reserve[data-type="2"] { --row: 14; --column: 1; }
.pk-hand[data-type="3"], .pk-reserve[data-type="3"] { --row: 14; --column: 2; }
.pk-hand[data-type="4"], .pk-reserve[data-type="4"] { --row: 14; --column: 3; }
.pk-hand[data-type="5"], .pk-reserve[data-type="5"] { --row: 15; --column: 1; }
.pk-hand[data-type="6"], .pk-reserve[data-type="6"] { --row: 15; --column: 2; }
.pk-hand[data-type="7"], .pk-reserve[data-type="7"] { --row: 15; --column: 3; }

.pk-hand .pk-piece, .pk-reserve .pk-piece {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    pointer-events: none;
}

.pk-hand .pk-piece:last-child, .pk-reserve .pk-piece:last-child {
    pointer-events: all;
}

.pk-hand .pk-piece:not(:first-child), .pk-reserve .pk-piece:not(:first-child) {
    margin-bottom: -85%;
}

#pk-board {
    --board-size: 700px;
    position: relative;
    flex-shrink: 0;
    width: var(--board-size);
    height: var(--board-size);
    margin-bottom: 2%;
}

#pk-board-shadow-container {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 4px 4px black);
}

#pk-board-shadow {
    width: 100%;
    height: 100%;
    background-color: #383838;
    mask-image: url("img/boardMask.svg");
    mask-size: cover;
    translate: 0 0.5%;
    margin-bottom: -3%;
}

#pk-board-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("img/board.jpg");
    background-size: cover;
    mask-image: url("img/boardMask.svg");
    mask-size: cover;
}

#pk-container[data-player="1"] #pk-board-background {
    transform-origin: center;
    transform: rotate(180deg);
}

#pk-board-spaces {
    --padding: 7px;
    position: absolute;
    width: calc(100% - var(--padding) * 2);
    height: calc(100% - var(--padding) * 2);
    display: grid;
    grid-template-columns: repeat(7, 1fr) 0.24fr repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr) 0.24fr repeat(7, 1fr);
    left: var(--padding);
    top: var(--padding);
}

.pk-board-space, .pk-board-hole {
    --column: 0;
    --row: 0;

    width: 100%;
    height: 100%;

    grid-column: var(--column);
    grid-row: var(--row);

    transition: background-color 180ms ease-in;
}

.pk-board-space.pk-selectable,
.pk-board-hole.pk-selectable {
    background-color: rgba(0, 255, 0, 0.52);
}

.pk-board-space.pk-selectable:hover, .pk-board-hole.pk-selectable:hover {
    background-color: rgba(224, 224, 65, 0.8);
    transition: background-color 0ms;
}

.pk-board-space.highlight, .pk-board-hole.highlight {
    animation-name: pk-highlight;
    animation-duration: 10000ms;
    animation-timing-function: ease-out;
}

@keyframes pk-highlight {
    from {
        background-color: transparent;
    }
    to {
        background-color: red;
    }
}

.pk-piece {
    --angle: 0;
    --sprite-x: 0;
    --sprite-y: 0;

    position: relative;
    width: 100%;
    height: 100%;
}

.roundedbox .pk-piece, #pk-hand .pk-piece {
    --piece-size: 50px;
    display: inline-block;
    width: var(--piece-size);
    height: var(--piece-size);
    vertical-align: middle;
}

.roundedbox .pk-piece {
    pointer-events: none;
}

.pk-piece.pk-selected, .pk-piece.pk-selectable:hover {
    filter: contrast(2);
}

.pk-piece * {
    position: absolute;
    inset: 0;
    margin: auto;
    pointer-events: none;
}

.pk-piece-shadow {
    width: 100%;
    height: 100%;
    margin-top: -1%;
    border-radius: 100%;
    box-shadow: 0 4px 4px black;
}

.pk-piece-base {
    width: 100%;
    height: 100%;
    background-image: url("img/disc.svg");
    background-size: 200% 100%;
}

.pk-piece[data-player="1"] .pk-piece-base {
    background-position: 100% 0;
}

.pk-piece-image {
    width: 94%;
    height: 92%;
    margin-top: 0;
    clip-path: circle(45% at center ) ;
    background-image: url("img/tiles.png");
    background-size: 400% 200%;
    background-position:
        calc(var(--sprite-x) * 100% / 3)
        calc(var(--sprite-y) * 100%);
    transform-origin: center;
    transform: rotate(calc(var(--angle) * 90deg));
    transition: transform 250ms ease-out;
}

#pk-container[data-player="1"] .pk-piece .pk-piece-image {
    transform: rotate(calc(var(--angle) * 90deg + 180deg));
}

.pk-piece.pk-selected {
    outline: 1px solid yellow;
}